.emailsInput {
  color: rgba(0, 0, 0, 0.65);
  border-width: 0 0 2px;
  border-color: rgb(104, 103, 246);
  margin-left: 20px;
  outline: 0;
  text-align: right;
  width: 100px;
}

.table {
  text-align: right;
  width: 100%;
}

.tableHead {
  text-align: center;
}

.tableWrapper {
  height: 210px;
  margin-bottom: 20px;
  overflow-y: scroll;
}
